# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv
venv/
env/

# Environment variables
.env

# Database files
*.db
*.sqlite3

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo 